# Pandas-Assignment-2

# Sales_Data Analysis

#### Q1.Import necessary libraries

#### Q2.Merge data from each month data sale Data (https://github.com/svkarthik86/Assignment/tree/main/Sales_Data) into one CSV

In [ ]:
# hint: 
# step1:download the Sale_date folder contain 12 month file from github link to local current woring directory
# setp2: import os module , use os.listdir() get all file 
#step3: create empty DataFrame as all_month_data
#step4: using for loop to read file locotain contain file and use pd.concat() function to concatenate all the file into one dataFrame
# as all_month_data
# at last store DataFrame all_month_data to all_data.csv 
    
#all_months_data.to_csv("all_data.csv", index=False)

#### Q3.Read the all_data.csv in updated dataframe, and display the first five row of the dataframe

In [3]:
#hint
#pd.read_csv("all_data.csv")

### Q4.Clean up the data! 
- check the isnan is present in data, if there is nan is present remove the nan using dropna() function

### Find NAN and Drop rows of NAN

#### Q5.Add month column to all_data DataFrame object from 'Order Date' column using Series.str method

In [ ]:
#hint  
#all_data['Order Date'].str[0:2]

### Q6. converts the datatype of month column as int  using astype('int32')

##### Get rid of text in order date column

### Q7.Add sale column to all_data DataFrame object using
-```all_data['Sales'] = all_data['Quantity Ordered'].astype('int') * all_data['Price Each'].astype('float')```

### Q8.find out the day,in which sales is high? using gruop by agg function

### Q9. What Product is most frequently purchased over the all period?

### Q10. List out the Product price above 100$